@import "var-color";
.widget{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #3c415c6a;
    width: 250px;
    height: 320px;
    margin: 10px 10px 10px 35px ;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.20), -3px -3px 5px rgba(185, 185, 185, 0.50);
    &__span{
        background-color: #301B3F;
        color: white;
        margin-right: auto;
        border-radius: 15px 0px;
        //border-right: 10px solid rgb(80, 169, 233);
        padding: 3px 6px;
    }
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    &__icon{
        width: 20px;
    }
    &__data{
        width: 100%;
        font-size: 10px;
        background-color: black;
        border-radius:  0px 0px 15px 15px;
        color: $color-green-main;
        p{
            padding: 5px;
            text-align: center;
        }
    }
}